.aero-pagination {
  display: flex;
  justify-content: center;
  user-select: none;
  li {
    min-width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.15s;
    @apply bg-gray-1 text-black shadow-sm shadow-black-15 dark:bg-gray-11 dark:text-white-85 dark:shadow-white-15;
    &:hover {
      @apply bg-black-4 dark:bg-white-15;
    }
  }
  .aero-pagination-disabled {
    cursor: not-allowed;
  }
  .aero-pagination-item-active {
    background-color: var(--color-primary) !important;
    a {
      @apply text-white dark:text-white-85;
    }
  }
  .aero-pagination-jump-prev,
  .aero-pagination-jump-next {
    position: relative;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.15s;
      font-size: 13px;
      color: var(--color-primary);
    }
    .aero-pagination-item-ellipsis {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      text-indent: 0.13em;
      opacity: 1;
      transition: all 0.15s;
      @apply text-gray-7;
    }
    &:hover {
      @apply bg-gray-1 dark:bg-gray-11;
      .icon {
        visibility: visible;
        opacity: 1;
      }
      .aero-pagination-item-ellipsis {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
